@tailwind base;
@tailwind components;
@tailwind utilities;

.mask{
  position: relative;
  mask-image: url("../public/mask.png");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;

  /* @media (max-width:730px){
    mask-image: url("/public/mask.png");
  }
  @media (max-width:540px){
    mask-image: url("/public/mask.png");
  } */
}

input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }